/* src/Header.css */

/* Estilos para el header */
header {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(to right, var(--color-secondary) 0%, var(--color-secondary) 100%);
}

.main-header {
  width: 100%;
  max-width: 1200px; /* Establece un ancho máximo para centrar el contenido */
  margin: 0 auto; /* Centra el contenido horizontalmente */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

/* Estilos para el título */
.title {
  font-size: 3rem;
  margin: 0;
  padding: 0;
  color: white; /* Color primario para títulos */
  font-family: "LXGW WenKai Mono TC", cursive; /* Fuente Poppins */
}

.title .logo-link {
  text-decoration: none;
  color: white; /* Color del título */
  position: relative;
  transition: color 0.3s ease;
}

.title .logo-link:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -1px;
  left: 0;
  background-color: var(--color-primary); /* Color primario */
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

.title .logo-link:hover {
  color: var(--color-primary); /* Cambio de color al hacer hover */
}

.title .logo-link:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

/* Estilos para la navegación */
nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.nav-center {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.nav-center li {
  margin: 0;
}

.nav-center li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-center li a:hover, .nav-center li a.active {
  color: var(--color-primary); /* Cambio de color al hacer hover y cuando está activo */
}

/* Estilos para la navegación derecha */
.nav-right {
  display: flex;
  align-items: center;
}

.nav-right-list {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.nav-right-list li {
  margin: 0;
}

.nav-right-list li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.nav-right-list li a:hover, .nav-right-list li a.active {
  color: var(--color-primary); /* Cambio de color al hacer hover y cuando está activo */
}

.nav-right-list li a svg {
  font-size: 1.5rem;
}

/* Animaciones de letras */
.letter {
  display: inline-block;
  animation: colorChange 2s infinite;
}

@keyframes colorChange {
  0%, 100% {
    color: rgb(255, 255, 255); /* Color original */
  }
  50% {
    color: var(--color-primary); /* Color resaltado */
  }
}

.letter-0 { animation-delay: 0s; }
.letter-1 { animation-delay: 0.1s; }
.letter-2 { animation-delay: 0.2s; }
.letter-3 { animation-delay: 0.3s; }
.letter-4 { animation-delay: 0.4s; }
.letter-5 { animation-delay: 0.5s; }
.letter-6 { animation-delay: 0.6s; }
.letter-7 { animation-delay: 0.7s; }
.letter-8 { animation-delay: 0.8s; }
.letter-9 { animation-delay: 0.9s; }
.letter-10 { animation-delay: 1s; }
.letter-11 { animation-delay: 1.1s; }
/* Agrega más estilos de .letter-x según sea necesario */

/* Responsive Design */
@media (max-width: 768px) {
  .main-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .title {
    font-size: 2rem;
    text-align: center;
  }

  nav {
    width: 100%;
    justify-content: space-between;
  }

  .nav-center {
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 0.5rem;
  }

  .nav-right {
    margin-top: 1rem;
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: 480px) {
  header {
    padding: 1rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .nav-center, .nav-right-list {
    flex-direction: column;
    align-items: center;
  }

  .nav-center li, .nav-right-list li {
    margin-bottom: 0.5rem;
  }

  .nav-right-list li a {
    gap: 0.25rem;
    font-size: 1rem;
  }
}




