.product-card {
  position: relative;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-image-container {
  position: relative;
  overflow: hidden;
}

.product-image {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s;
}

.product-image.expanded-image {
  transform: scale(0.9); /* Ejemplo de escalar la imagen al expandirse */
}

.product-card-content {
  padding: 1rem;
  text-align: center;
}

.product-name {
  font-size: 1.2rem;
  color: #333;
  margin: 0;
}

.product-price {
  font-size: 1rem;
  color: #85620a;
  margin-top: 0.5rem;
}

.buy-button {
  background-color: #85620a;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buy-button:hover {
  background-color: #a6720c;
}

/* Estilos para la vista expandida */
.expanded {
  grid-column: span 2; /* Ocupa 2 columnas en el grid */
  height: auto; /* Ajusta la altura automáticamente */
}

.expanded-content {
  margin-top: 1rem;
}

.hidden {
  display: none;
}
