.product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  margin-bottom: 20px;
}

.product-image-container {
  width: 100%;
  overflow: hidden;
}

.product-image {
  width: 100%;
  height: auto;
  display: block;
}

.product-card-content {
  padding: 1rem;
}

.product-name {
  font-size: 1.2rem;
  color: #333;
  margin: 0;
}

.product-price {
  font-size: 1rem;
  color: #85620a;
  margin-top: 0.5rem;
}

.buy-button {
  background-color: #85620a;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buy-button:hover {
  background-color: #a6720c;
}

.expand-button {
  background-color: #f0f0f0;
  color: #333;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.expand-button:hover {
  background-color: #e0e0e0;
  color: #000;
}

.product-details {
  background-color: #f9f9f9;
  padding: 1rem;
  margin-top: 1rem;
  border-top: 1px solid #ddd;
}

